@font-face {
	font-family: SourcePro;
	src: url(SourceSansPro-Regular.otf);
}

body {
	font-family: SourcePro;
}

a {
	color: black;
}

a:hover {
    text-decoration:none;
    color: #ffc700;
}

table {
	margin-top: 50px;

}

h2 {
	color: #ffc700;
}